<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
        <a class="tab-item active" ng-class="{active:isLoginActive}" ng-click="btnLoginClick()" href="#/logintab/login"><i class="icon ion-unlocked"></i> 登录</a>
        <a class="tab-item" ng-class="{active:isSettingActive}" ng-click="btnSettingClick()" href="#/logintab/systemsettings"> <i class="icon ion-android-settings"></i> 设置 </a>
    </div>
</div>

<ion-nav-view name="loginContent"></ion-nav-view>


