<!--
  系统设置模板
-->


<div class="tabs-striped  tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> 登录 </a>
    <a class="tab-item active" href="#/app/systemsetting"> <i class="icon ion-android-settings"></i> 设置 </a>
  </div>
</div>

<ion-view view-title="系统设置" class="has-headers has-footer" hide-back-button="true">
  <ion-content class="padding">





        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">系统地址</span>
            <input type="text" placeholder="http://127.0.0.1/">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">项目编号</span>
            <input type="text" placeholder="000000001">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">ERP待办每页显示条目</span>
            <input type="number" value="10">
          </label>
        </div>

        <div class="loginButton">
          <button class="button ion-person button-block button-balanced"> 保存设置</button>
        </div>



  </ion-content>
</ion-view>
