<ion-view view-title="关于系统">
    <ion-content>
        <h3 class="text-center">移动办公门户</h3><br>

        <h6>Version 1.0.0</h6><br><br>

        1、ERP系统+移动应用平台，基于HTML5，开发流程数据提取、驱动，将审批界面部署为部署为一个独立的网站，供移动终端通过WebVPN来访问，自适应PC、平板、手机端，无论何时何地都能轻松办公。
        <br>

         2、从移动审批开始，踏上移动化之路。统一部署移动设备的APP应用，支持Android、IOS平台移动终端访问。基层人员提交审批后，系统会将待办审批事项推送给相关领导，并在审批时限进行预警；审批领导仅需利用移动设备打开单据进行审批即可，摆脱出差造成的审批不及时的困扰；基层人员也可通过图形化界面实时查看审批进度，打破时间、空间限制。
        <br>

         3、切实保障移动审批业务处理的安全性。ERP系统+移动应用平台通过CA认证、SSL协议等安全技术手段，将用户访问的身份认证和数据进行加密传输，保障数据的安全性，免去企业的后顾之忧.
        <br>

         4、一体化的管控平台，通过上下游业务的通路运作，使企业对业务人员的工作进行过程监控和执行指导，即时反馈市场信息，打破信息壁垒，实现全面监控和管理。
    </ion-content>
</ion-view>
