<ion-view view-title="我的待办">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">我的待办</h1>
  </ion-header-bar>
  <div class="bar bar-subheader">
    <div class="button-bar">
      <a class="button" ng-click="showDash(1)" ng-class="{'active':isOne}" >待办</a>
      <a class="button" ng-click="showDash(2)" ng-class="{'active':isSecond}">已办</a>
      <a class="button" ng-click="showDash(3)" ng-class="{'active':isThird}">消息</a>
    </div>
  </div>
  <ion-content class="padding has-header has-subheader">
    <div class="content">

      <div ui-view ng-if="tab==1">
      </div>
      <div ui-view ng-if="tab==2"> </div>
      <div ui-view ng-if="tab==3"> </div>

    </div>
  </ion-content>
</ion-view>
