<div class="list">

  <a class="item item-avatar pt-itemlist" href="#">
    <img src="img\ionic.png">
    <h2>张三提交单据审批</h2>
    <div class="row">
      <div class="col col-50">财务审批</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>
  </a>
   <a class="item item-avatar" href="#">
    <img src="venkman.jpg">
    <h2>Venkman</h2>
    <p>Back off, man. I'm a scientist.</p>
  </a>
   <a class="item item-avatar" href="#">
    <img src="venkman.jpg">
    <h2>Venkman</h2>
    <p>Back off, man. I'm a scientist.</p>
  </a>
   <a class="item item-avatar" href="#">
    <img src="venkman.jpg">
    <h2>Venkman</h2>
    <p>Back off, man. I'm a scientist.</p>
  </a>
   <a class="item item-avatar" href="#">
    <img src="venkman.jpg">
    <h2>Venkman</h2>
    <p>Back off, man. I'm a scientist.</p>
  </a>
   <a class="item item-avatar" href="#">
    <img src="venkman.jpg">
    <h2>Venkman</h2>
    <p>Back off, man. I'm a scientist.</p>
  </a>
   <a class="item item-avatar" href="#">
    <img src="venkman.jpg">
    <h2>Venkman</h2>
    <p>Back off, man. I'm a scientist.</p>
  </a>


</div>
