<!-- 首页模板-->

<ion-view view-title="主页" hide-nav-bar="true">
  <!-- 头部LOGO-->
  <ion-content>
    <div class="row padding ">
      <div class="col dark-bg pt-main-logo"></div>
    </div>

    <!--图标 -->
    <div class="row padding">
      <div class="col col-33 pt-main-buttons pt-main-buttons-left" ng-click="erpBtnClick()">
        <div class="row positive-bg">
          <div class="col positive-bg icon ion-ios-briefcase-outline pt-main-icon"></div>
        </div>
        <div class="row positive-bg">
          <div class="col pt-main-text">ERP系统</div>
        </div>
      </div>

      <div class="col col-33 pt-main-buttons">
        <div class="row royal-bg">
          <div class="col royal-bg icon ion-ios-paper-outline pt-main-icon"></div>
        </div>
        <div class="row royal-bg">
          <div class="col pt-main-text">OA系统</div>
        </div>
      </div>

      <div class="col col-33 pt-main-buttons pt-main-buttons-right">
        <div class="row calm-bg">
          <div class="col calm-bg icon ion-stats-bars pt-main-icon"></div>
        </div>
        <div class="row calm-bg">
          <div class="col pt-main-text">集团新闻</div>
        </div>
      </div>
    </div>

    <div class="row padding">
      <div class="col col-33 pt-main-buttons pt-main-buttons-left">
        <div class="row pt-color-h">
          <div class="col pt-color-h icon ion-ios-albums-outline pt-main-icon"></div>
        </div>
        <div class="row pt-color-h">
          <div class="col pt-main-text">财务报表</div>
        </div>
      </div>

      <div class="col col-33 pt-main-buttons">
        <div class="row pt-color-s">
          <div class="col pt-color-s icon ion-chatboxes pt-main-icon"></div>
        </div>
        <div class="row pt-color-s">
          <div class="col pt-main-text">即时通讯</div>
        </div>
      </div>

      <div class="col col-33 pt-main-buttons pt-main-buttons-right">
        <div class="row pt-color-b">
          <div class="col pt-color-b icon ion-ios-location-outline pt-main-icon"></div>
        </div>
        <div class="row pt-color-b">
          <div class="col pt-main-text">在线签到</div>
        </div>
      </div>
    </div>

    <div class="row padding">
      <div class="col col-33 pt-main-buttons pt-main-buttons-left">
        <div class="row pt-color-h">
          <div class="col pt-color-h icon ion-clipboard pt-main-icon"></div>
        </div>
        <div class="row pt-color-h">
          <div class="col pt-main-text">总裁桌面</div>
        </div>
      </div>

      <div class="col col-33 pt-main-buttons">
        <div class="row pt-color-s">
          <div class="col pt-color-s icon ion-compose pt-main-icon"></div>
        </div>
        <div class="row pt-color-s">
          <div class="col pt-main-text">移动售楼</div>
        </div>
      </div>

      <div class="col col-33 pt-main-buttons pt-main-buttons-right">
        <div class="row pt-color-b">
          <div class="col pt-color-b icon ion-android-contacts pt-main-icon"></div>
        </div>
        <div class="row pt-color-b">
          <div class="col pt-main-text">通讯录</div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
